.wrapper-logout
  .container
    .content-side-bar      
    .content
      .content__chapter
        %form.content__chapter__form
          .content__chapter__form__btn
            = link_to "",  class: 'content__chapter__form__btn__red' do
              %button.content__chapter__form__btn__red ログアウト
            