.single-wrapper
  = render partial:"shared/single_header"
  %main.single-main
    %section.l-single-container__buy-item-container
      %h2.l-single-head 
        商品はすでに売り切れています    
  = render partial:"shared/regi_footer"