.scontainer
  .sheader
    %h1.sheader__logo
      = link_to "#"do
        =image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?128691313", alt: "mercari", class: "mercari-logo"
    %nav.progress-bar
      %ol.clearfix
        %li.active
          会員情報
          .progress-status
        %li
          電話番号認証 
          .progress-status
        %li
          お届け先住所入力
          .progress-status
        %li
          支払い方法
          .progress-status
        %li
          完了
          .progress-status
  %main.smain
    %section.smain__container
      %h2.smain__container__header 会員情報入力
      %form.registration-form
        %input{name: "", type: "hidden", value: ""}
        .registration-form__content
          .registration-form__content__group
            %label{for: "nickname"}
              ニックネーム
            %span.registration-form__content__group__require
              必須
            .field-input
            %input{value:"", placeholder:"例) メルカリ太郎", class: "input-default" ,type:"text"}
          .registration-form__content__group
            %label{for: "email"}
              メールアドレス
            %span.registration-form__content__group__require
              必須
            .field-input
            %input{value:"", placeholder:"PC・携帯どちらでも可", class: "input-default",type:"email" }
          .registration-form__content__group
            %label{for: "password"}
              パスワード
            %span.registration-form__content__group__require
              必須
            .field-input
            %input{value:"", placeholder:"7文字以上", class: "input-default", type:"email" }
          .registration-form__content__group
            %label{for: "password"}
              パスワード(確認)
            %span.registration-form__content__group__require
              必須
            .field-input
            %input{value:"", placeholder:"7文字以上", class: "input-default",type:"password" }
          .registration-form__content__group
            %h3.registration-form__content__group--sub 本人確認
            %p.registration-form__content__group--text
              安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
          .registration-form__content__group
            %label{for: "name"}
              お名前(全角)
            %span.registration-form__content__group__require
              必須
            .field-input__half
            %input{value:"", placeholder:"7文字以上", class: "input-default__half",type:"password" }
            .field-input__half
            %input{value:"", placeholder:"7文字以上", class: "input-default__half",type:"password" }