.footer
  .footer__content
    .footer__content__box
      %h2.footer__content__box__heading メルカリについて
      %ul.footer__content__box__mass
        =link_to do
          %p  会社概要（運営会社）
          %p  採用情報
          %p  プレリリース
          %p  公式ブログ
          %p  メルカリロゴ利用ガイドライン
          %li 
            = link_to do
              = fa_icon 'twitter', class: 'icon'
          %li 
            = link_to do
              = fa_icon 'facebook-square', class: 'icon'
    .footer__content__box
      %h2.footer__content__box__heading ヘルプ＆ガイド
      %ul.footer__content__box__mass
        =link_to do
          %p  メルカリガイド
          %p  らくらくメルカリ便
          %p  ゆうゆうメリカリ便
          %p  大型メルカリ便
          %p  車体取引ガイド
          %p  メルカリあんしん・あんぜん宣言！
          %p  偽ブランド品撲滅への取り組み
          %p  メルカリボックス
    .footer__content__box
      %h2.footer__content__box__heading プライバシーと利用規約
      %ul.footer__content__box__mass
        =link_to do
          %p  プライバシーポリシー
          %p  メルカリ利用規約
          %p  あんしんスマホサポート制度に関する利用規約
          %p  コンプライアンスポリシー
          %p  個人データの安全管理に係る基本方針
          %p 特定商取引に関する表記
          %p 資本決済に基づく表示
          %p 法令順守と犯罪抑止のために
    .footer__content__box
      %h2.footer__content__box__heading 国
      %ul.footer__content__box__mass
        =link_to "" do
          %p 日本
          %p United States