.gray-bread
  %nav.gray-bread__crumbs
    %ul.gray-bread__crumbs__ul
      %li.gray-bread__crumbs__ul__li
        =link_to "#", class: 'gray-bread__crumbs__ul__li__a' do
          %span メルカリ
        %i.fa.fa-chevron-right
      %li.gray-bread__crumbs__ul__li
        %span マイページ