.default-container
  .head-container
    .header__search
      =image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?273499512", size: "134x36")
      .header__search__form
        %input{value:"", placeholder:"何かお探しですか？", class: "input-default" }
        %i.input-default-icon.fa.fa-search
    .navibox
      .navibox__left
        %ul.navibox__left__content
          %li.navibox__left__content__list
            %i.navibox__left__content__list__iconlist.fa.fa-list-ul 
            %span.navibox__left__content__list__text カテゴリーから探す
          %li.navibox__left__content__list
            %i.navibox__left__content__list__icontag.fa.fa-tags
            %span ブランドから探す              
      .navibox__right
        %ul.navibox__right__content
          - if user_signed_in?
            %li.navibox__right__content__list
              %p
                = current_user.name
          %li.navibox__right__content__list
            = link_to signup_path do
              %span.navibox__right__content__list--resisterbuttn 新規会員登録
          %li.navibox__right__content__list
            = link_to login_path do
              %span.navibox__right__content__list--loginbuttn  ログイン