.main
  .image-box.slick
    = image_tag "https://www.mercari.com/jp/assets/img/common/jp/top/banner-camp.jpg"
    = image_tag "https://assets.st-note.com/production/uploads/images/8416298/rectangle_large_type_2_46ffcfccf4f8a9fb448290dafd69d2c1.jpg?fit=bounds&format=jpeg&quality=45&width=960"
  .pickup-box
    %h2.pickup-box__title ピックアップカテゴリー
    = render "items/list"
