
$color-bg-gray: #f5f5f5;
$color-white: #fff;
$color-light-gray: #ccc;
$color-red: #ea352d;
$color-gray: #888;
$color-bg-yellow: #fff6cf;
$color-pink: #ef5185;
$color-orange: #fbaa34;
$color-blue: #69b5d8;
