.socialmedia-box
  %ul.socialmedia-box__list 
    %li
      =image_tag "https://cdn.pixabay.com/photo/2015/03/10/17/26/facebook-667456_640.png"
    %li
      =image_tag "http://modelnavi.jp/modelnavi/wp-content/uploads/2015/06/Twitter-icon.png"
    %li
      =image_tag "http://www.mark-sign.net/download01/data13/pinterest.png"    