.wrapper
  = render partial:"shared/header"
.itemcontainer
  .itemcontainer__box
    .itemcontainer__box__content
      .itemcontainer__box__content__detail
        %h2.item-name
          正規品 HUBLOT クラシックフュージョン クロノグラフ
        .itemmain
          .itemmain__photo
            .itemmain__photo--main
              =image_tag "https://static.mercdn.net/item/detail/orig/photos/m96341556325_1.jpg?1566975788"
            .itemmain__photo--main__clearfix
              .itemmain__photo--sub
                =image_tag "https://static.mercdn.net/item/detail/orig/photos/m96341556325_2.jpg?1566975788"
                =image_tag "https://static.mercdn.net/item/detail/orig/photos/m96341556325_3.jpg?1566975788"
                =image_tag "https://static.mercdn.net/item/detail/orig/photos/m96341556325_9.jpg?1567054871"
                =image_tag "https://static.mercdn.net/item/detail/orig/photos/m96341556325_7.jpg?1567054871"
                =image_tag "https://static.mercdn.net/item/detail/orig/photos/m96341556325_1.jpg?1566975788"
          %table.item-profile
            %tbody
              %tr
                %th
                  出品者
                %td
              %tr
                %th
                  カテゴリー
                %td
                  時計
              %tr
                %th
                  商品の状態
                %td
                  新品に近い
              %tr
                %th
                  配送元地域
                %td
                  大阪
              %tr
                %th
                  配送の目安
                %td
                  1日
              %tr
                %th
                  公開範囲
                %td
          .item-price
            %span.item-price__bold
              ¥650,000