.default-container{
  box-sizing:border-box	;

  .head-container{
    height:100px;
    display:block;
    font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
    font-weight: 500;
    background-color: #fff;
    width:1020px;
    margin:0 auto; 
    padding:8px 0 0;

    .header__search{
      height:40px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .header__search__form{
        position: relative;
        margin-left: 45px;
        width: 100%;
        height:100%;

        .input-default{
          background: #f5f5f5;
          border-radius: 4px;
          width: 100%;
          height: 40px;
          padding:0 15px;
          border: 1px solid #ccc;
          &:focus {
            outline: 0;
            border: 1px solid #0099e8;
          }
        .hidden{
          position: absolute;
            margin-top: -1px;
            top: 0;
            right: 0;
            height:40px;
            width: 30px;
            height: 40px;
            border-radius: 4px;
        }
        }
        
        .input-default-icon{
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            justify-content: center;
            width: 40px;
            height: 40px;
            cursor: pointer;
            font-size: 14px;
            align-items:center;
        }
      }
    }
    .navibox{
      margin: 8px 0 0;
      height:44px;
      &__left{
        float:left;
        height:100%;
        &__content{
          list-style: none;
          overflow: hidden;
          margin:0px;
          padding:0px;
          &__list{
            position: relative;
            display:inline-block;
            cursor: pointer;
            list-style: none;
            font-size: 14px;
            height:44px;
            line-height: 32px;
            font-weight: 600;

            &__iconlist{
              color: #ea352d;
              font-size: 14px;
              margin-right: 4px;
              display:inline-block;
            }
            &__text{
              padding-right:11px;
            }
            &__icontag{
              padding-left:11px;
              display:inline-block;
              color: #ea352d;
              font-size: 14px;
            }
          }
        }
      }
      &__right{
        float: right;
        height:100%;
        &__content{
          list-style: none;
          overflow: hidden;
          margin:0px;
          padding:0px;
          height:44px;
          line-height: 44px;
          
          &__list{
            position: relative;
            display:inline-block;

            cursor: pointer;
            list-style: none;
            font-size: 14px;

            &--resisterbuttn{
              background: #ea352d;
              border: 1px solid #ea352d;
              color: #fff;
              float: left;
              margin: 0 0 0 8px;
              margin-left: 10px;
              font-size: 14px;
              padding: 0 10px;
              line-height: 30px;
              border-radius: 4px;
              text-align: center;
            }
            &--loginbuttn{
              background: #fff;
              border: 1px solid #0099e8;
              color: #0099e8;
              float:right;
              margin: 0 0 0 8px;
              margin-left: 10px;
              font-size: 14px;
              padding: 0 10px;
              line-height: 30px;
              border-radius: 4px;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

